@font-face {
  font-family: "BootsAndSpurs";
  src: url("../Fonts/BootsAndSpurs/BootsAndSpurs.ttf") format("truetype");
}

h1,
h2,
h3,
.logo {
  font-family: "BootsAndSpurs", Verdana, Tahoma, sans-serif;
}

.logo {
  color: #fff;
  max-width: 200px;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

h1 {
  background-image: url(../img/home-header.jpg);
  min-height: 1500px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
}

body {
  background-color: white;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.HSG {
  border-radius: 50px 50px 50px 50px;
}

.Profile-pic {
  border-radius: 50%;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  padding: 0px;
}

.current {
  text-decoration: underline;
}

.button {
  background-color: #bb0000;
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
  text-transform: uppercase;
  padding: 5px 80px;
  border-radius: 5px;
}

.reviews {
  background-color: #e8e8e8;
}

.sales {
  background-color: #fbfbfb;
}

.sale {
  background-color: #127300;
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  padding: 5px 40px;
  border-radius: 5px;
}

.small-button {
  background-color: #bb0000;
  color: #fff;
  text-decoration: none;
  font-family: roboto;
  text-transform: uppercase;
  padding: 5px 40px;
  border-radius: 5px;
}

footer {
  text-align: center;
}

.activecontact {
  color: #000;
  text-decoration: none;
  font-size: larger;
  font-family: BootsAndSpurs;
}

/*Form*/

input,
select,
textarea {
  border-color: #c4c4c4;
  border-radius: 5px 5px 5px 5px;
}
